
@import "../../parts/common.scss";

// Kozuka Mincho Pr6N

body {
  font-family: helvetica-light;
  margin: 0;
  .pages_row {
    margin-top: 50px;
    width: 100%;
    @include flex;
    @include flex-wrap(wrap);
    @include justify-content(center);
  }
  .common_container {
    color: #646464;
    font-size: 20px;
    margin-top: 50px;
    @include flex;
    @include flex-direction(column);
    @include align-items(center);
  }
}
